.item-container{
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    margin:0 2px;
  }
  .item{
    width: 105px;
    height: 30px;
    border: 1.5px solid #ECEEEF;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    cursor: pointer;
  }
  .item-img{
    width: 24px;
    height: 24px;
    border-radius: 30%;
  }
  .item-name{
    font-size: 12px;
    font-weight: 550;
    font-weight: 600;
    font-family: os-reg;
    color:#1D1E1C;
  }
  .slider{
    display: flex;
    white-space: nowrap;
    flex-direction: row;
    height: 70px;
    width: calc(100% - 20px);
    align-items: center;
    -ms-overflow-style: none;
    scrollbar-width: none;
    overflow: auto;
  }
  .slider::-webkit-scrollbar{
    display: none;
  }